<!DOCTYPE html>
<html>
<head>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    <title>Document</title>
</head>
<body class="container">
    <table class="table table-striped">
        <thead>
            <th>Data in Request</th><th></th>
        </thead>
        <tbody>
    {% for key,value in data.iteritems() %}
        <tr><td>{{key}}</td><td>{{value}}</td></tr>
    {% endfor %}
        </tbody>
    </table>
    <table class="table table-striped">
        <thead>
            <th>Files</th><th></th>
        </thead>
        <tbody>
        {% for value in files %}
            <tr><td>{{value['filename'][0]}}</td><td><a href="{{value['download_url']}}">Download</a></td></tr>
        {% endfor %}
        </tbody>
    </table>
</body>
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</html>