<!DOCTYPE html>
<html>
<head>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    <title>Document</title>
</head>
<body class="container">
    <table class="table table-striped">
        <thead>
            <th>Article Data</th><th></th>
        </thead>
        <tbody>
    {% for key,value in data.iteritems() %}
        <tr><td>{{key|capitalize}}:</td><td>{{value}}</td></tr>
    {% endfor %}
        </tbody>
    </table>
    <table class="table table-striped">
        <thead>
            <th>Author Data</th><th></th>
        </thead>
        <tbody>
        {% for author in authors %}
            {% for key,value in author.iteritems() %}
               <tr><td>{{key|capitalize}}:</td><td>{{value}}</td></tr>
            {% endfor %}
        <tr><td></td><td></td></tr>
        {% endfor %}
        </tbody>
    </table>

    {% if funders!=[] %}
    <table class="table table-striped">
        <thead>
            <th>Funders Data</th><th></th>
        </thead>
        <tbody>
        {% for funder in funders %}
            {% for key,value in funder.iteritems() %}
               <tr><td>{{key|capitalize}}:</td><td>{{value}}</td></tr>
            {% endfor %}
        {% endfor %}
        </tbody>
    </table>
    {% endif %}

    {% if contributions %}
    <table class="table table-striped">
        <thead>
            <th>Contributions Data</th><th></th>
        </thead>
        <tbody>
        {% for contributor in contributions %}
            {% for key,value in contributor.iteritems() %}
               <tr><td>{{key|capitalize}}:</td><td>{{value}}</td></tr>
            {% endfor %}
        {% endfor %}
        </tbody>
    </table>
    {% endif %}

    {% if affiliations %}
    <table class="table table-striped">
        <thead>
            <th>Affiliations Data</th><th></th>
        </thead>
        <tbody>
        {% for affiliate in affiliations %}
            {% for key,value in affiliate.iteritems() %}
               <tr><td>{{key|capitalize}}:</td><td>{{value}}</td></tr>
            {% endfor %}
        {% endfor %}
        </tbody>
    </table>
    {% endif %}

    {% if terms %}
    <table class="table table-striped">
        <thead>
            <th>Terms Data</th><th></th>
        </thead>
        <tbody>
        {% for term in terms %}
                <tr><td>{{term|capitalize}}</td><td></td></tr>
        {% endfor %}
        </tbody>
    </table>
    {% endif %}

    <table class="table table-striped">
        <thead>
            <th>Files</th><th></th>
        </thead>
        <tbody>
        {% for value in files %}
            <tr><td>{{value['filename'][0]}}</td><td><a href="{{value['download_url']}}">Download</a></td></tr>
        {% endfor %}
        </tbody>
    </table>
</body>
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</html>